Celery
Django
django-celery-beat 
django-celery-results # currently requires Django 4.0 or older
python-decouple
redis
psycopg2-binary
channels[daphne] 
channels_redis
djangorestframework
django-cors-headers